.link img{}


.row{

width: 100%;
}

  .sub{
    width: 25%;
  }


  .sur{

    top:0
  }

.1.jpg{

  width:100%;
}

.3.jpg{

  width:100%;
}

.4.jpg{

  width:100%;
}
